@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@600&display=swap&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');


p,
h1,
h2,
h3,
h4,
h5,
label,
footer,
.title {
  font-family: 'Libre Caslon Text', serif;
  color: #1b3f7c;
}

a {
  text-decoration: underline;
  display: inline-block;
  color: #0033cc;
}


.intro {
  text-align: center;
}

.intro h1 {
  font-family: Imbue, serif;
  font-size: 4.5em;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
}

.intro h2, .intro h3 {
  font-family: "Libre Caslon Text", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2.25rem;
  margin-right: 1rem;
  margin-left: 1rem;
  line-height: 1;
}

.intro h2 span {
  text-transform: uppercase;
}

@media (max-width: 768px) and (orientation: portrait) {
  .is-hidden-portrait {
    display: none;
  }
}
@media  (max-width: 768px) and (orientation: landscape) {
  .is-hidden-landscape {
    display: none;
  }
}